body {
  font-family: "Noto Sans", sans-serif, "Noto Sans";
}

.content {
  margin-top: 15vh;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

/*@include breakpoint(small){
    padding: 5vh;
  }*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: relative;
  z-index: 100;
  background-color: #ffffff;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
  /*@include breakpoint(medium){
      height: 12vh;
  }*/
}
.navbar .navbar-collapse {
  text-align: left;
}
.navbar .navbar-brand {
  margin-right: 2em;
  margin-left: 1em;
  width: 30vw;
}
@media (min-width: 768px) {
  .navbar .navbar-brand {
    width: 20vw;
  }
}
@media (min-width: 992px) {
  .navbar .navbar-brand {
    width: 12vw;
  }
}
.navbar .navbar-brand .navbar-logo {
  left: 0;
  top: 0;
  width: 100%;
}
.navbar .navbar-nav .nav-link {
  font-size: 1.25em;
}
@media (min-width: 992px) {
  .navbar .navbar-nav .nav-link {
    margin-right: 2vw;
  }
}
@media (min-width: 1200px) {
  .navbar .navbar-nav .nav-link {
    margin-right: 2.5vw;
  }
}
.navbar .navbar-nav .nav-link:hover {
  color: #ff815b;
}
.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link.show {
  color: #ff815b;
}
.navbar .nav-search {
  position: absolute;
  right: 5%;
}
.navbar .nav-search .btn {
  color: #000000;
  border-color: #ff815b;
}
.navbar .nav-search .btn:hover {
  background-color: #ff815b;
  color: #ffffff;
}

footer {
  background-color: #3C3C3C;
  height: 50vh;
  overflow: hidden;
  width: 100%;
  margin: auto;
  text-align: center;
  display: grid;
  place-items: center;
  /* .footer-cell{
      overflow: hidden;
      padding: 0em;
      width: 100%;
      text-align: center;
      margin: auto;
      @include breakpoint(small){
        margin: 0;
      }
      a{
        text-align: center;
        margin: auto;
        width: 100%;
      }
    h4{
      margin: auto;
      text-align: right;
      width: 100%;
      font-size:1em;
    }
  }
  */
}
footer .footer-top {
  padding: 2.5vh 0;
  margin: auto;
  border-bottom: solid;
  border-width: 2.5px;
  border-color: #fff;
  width: 100%;
}
footer .footer-logo {
  margin: auto;
  text-align: center;
  min-height: 20vh;
}
@media (min-width: 768px) {
  footer .footer-logo {
    height: 10vh;
  }
}
footer .footer-logo img {
  height: 20vh;
}
footer .footer-nav {
  margin: auto;
  text-align: center;
}
@media (min-width: 768px) {
  footer .footer-nav {
    margin-top: 5vh;
  }
}
footer .footer-nav .footer-link {
  text-decoration: none;
  padding: 2.5vw;
  color: #fff;
}
footer .footer-nav .footer-link:hover {
  color: #ff815b;
}
footer .footer-copyright {
  margin: auto;
}
footer .footer-copyright p {
  color: #ffffff;
}

.intro-callout-section {
  background-color: #f2f2f2;
  padding: 5vh 5vw;
  margin: auto;
  width: 100%;
}
.intro-callout-section .row {
  margin: auto;
  width: 100%;
}
.intro-callout-section .row .callout-header {
  margin-bottom: 5vh;
}
.intro-callout-section .row .callout-header h3 {
  font-size: 2.5em;
  font-family: "Poppins", sans-serif, "Poppins";
  margin-bottom: 2.5vh;
}
@media (min-width: 576px) {
  .intro-callout-section .row .callout-header h3 {
    font-size: 3em;
  }
}
@media (min-width: 768px) {
  .intro-callout-section .row .callout-header h3 {
    font-size: 4em;
  }
}
.intro-callout-section .row .callout-cell-container {
  width: 100%;
  margin: auto;
}
.intro-callout-section .row .callout-cell {
  padding: 5vh 2.5vw 2.5vh 2.5vw;
  margin: 0 5vw 0 0;
  background-color: #ffffff;
  border-top: solid;
  border-width: 5px;
  border-color: #ff815b;
}
@media (min-width: 0px) {
  .intro-callout-section .row .callout-cell {
    margin-bottom: 10vh;
  }
}
@media (min-width: 992px) {
  .intro-callout-section .row .callout-cell {
    margin-bottom: 0;
  }
}
.intro-callout-section .row .callout-cell h4 {
  font-weight: 700;
  font-size: 1.5em;
}
.intro-callout-section .row .callout-cell p {
  margin-bottom: 10vh;
}
.intro-callout-section .row .callout-cell .learn-more {
  background-color: #ff815b;
  border-color: #ff815b;
}
.intro-callout-section .row .callout-cell .learn-more:hover {
  background-color: #ff5b5b;
  border-color: #ff5b5b;
}
.intro-callout-section .row .callout-cell a h4 {
  font-size: 1em;
  font-weight: 400;
}

.our-mission-section {
  background-color: #333;
  height: 60vh;
  padding: 10vh 5vw;
}
.our-mission-section .our-mission-float {
  background-color: #ccc;
  padding: 5vh 5vw;
  display: grid;
  place-items: right;
}
.our-mission-section .our-mission-float h3 {
  font: "Poppins", sans-serif, "Poppins";
  font-weight: 700;
  font-size: 3em;
}
.our-mission-section .our-mission-float .learn-more {
  background-color: #ff815b;
  border-color: #ff815b;
}
.our-mission-section .our-mission-float .learn-more:hover {
  background-color: #ff5b5b;
  border-color: #ff5b5b;
}

.triple-card-section {
  padding: 10vh 0vw 10vh;
}
.triple-card-section .triple-card-header {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 10vh;
}
.triple-card-section .triple-card-header h3 {
  text-align: center;
  font: "Poppins", sans-serif, "Poppins";
  font-weight: 700;
  font-size: 3em;
}
.triple-card-section .trip-card-contain {
  margin: 0 5vw;
}
@media (min-width: 768px) {
  .triple-card-section .trip-card-contain {
    margin: 0;
  }
}
.triple-card-section .trip-card-contain .trip-card {
  margin-bottom: 5vh;
  height: 60vh;
  padding-bottom: 2.5vh;
  box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.57);
  border-radius: 30px 30px 30px 30px;
  border: 0px solid #000000;
  overflow: hidden;
}
@media (min-width: 576px) {
  .triple-card-section .trip-card-contain .trip-card {
    height: 70vh;
    max-width: 600px;
  }
}
@media (min-width: 768px) {
  .triple-card-section .trip-card-contain .trip-card {
    height: 50vh;
    margin: 0 2vw;
    width: 25vw;
    max-width: 250px;
  }
}
@media (min-width: 992px) {
  .triple-card-section .trip-card-contain .trip-card {
    width: 30vw;
    max-width: 400px;
  }
}
.triple-card-section .trip-card-contain .trip-card .img-container {
  padding: 0;
  margin-bottom: 5vh;
}
.triple-card-section .trip-card-contain .trip-card .img-container .img-fluid {
  max-width: 100%;
  height: auto;
}
.triple-card-section .trip-card-contain .trip-card .trip-card-head h4 {
  font: "Poppins", sans-serif, "Poppins";
}
.triple-card-section .trip-card-contain .trip-card .trip-card-body a {
  color: #000000;
}
.triple-card-section .trip-card-contain .trip-card .trip-card-body a:hover {
  color: #ff5b5b;
}

.about-callout-section {
  height: 40vh;
  background-color: #ff815b;
  padding: 5vh 5vw;
}
.about-callout-section .about-callout-header h3 {
  font: "Poppins", sans-serif, "Poppins";
  font-weight: 700;
  font-size: 3em;
  color: #ffffff;
}
.about-callout-section .about-callout-body {
  /* .callout-button{
     text-decoration: none;
     background-color:#ffffff;
     color: $brand-orange;
     width: 100%;
     padding: 2vh 2vw;
     border-radius: 10px 10px 10px 10px;
   }*/
}
.about-callout-section .about-callout-body p {
  font: "Noto Sans", sans-serif, "Noto Sans";
  color: #ffffff;
}
.about-callout-section .about-callout-body .learn-more {
  background-color: #fff;
  border-color: #fff;
  color: #ff815b;
}
.about-callout-section .about-callout-body .learn-more:hover {
  background-color: #ff815b;
  border-color: #fff;
  color: #fff;
}
.about-callout-section .about-callout-body a h4 {
  font-size: 1.25em;
}

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */
.contact-callout-section {
  background-color: #333333;
  width: 100%;
  height: 30vh;
  margin-bottom: 10vh;
}
.contact-callout-section .cover-container {
  margin: auto;
  max-width: 42em;
}
.contact-callout-section .cover-container h3 {
  font: "Poppins", sans-serif, "Poppins";
  font-weight: 700;
  font-size: 3em;
  color: #ffffff;
}
.contact-callout-section .cover-container p {
  font: "Noto Sans", sans-serif, "Noto Sans";
  color: #ffffff;
}

/*
.carousel {
    margin-bottom: 20vh;
    .carousel-inner{
      border-radius: 2.5%;
      box-shadow: 2rem 2rem 3rem rgba(#000000, .5);
    }
  }
  //Since positioning the image, we need to help out the caption 
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  //Declare heights because of positioning of img element 
  .carousel-item {
    height: 32rem;
  }
  */
.marketing {
  margin-bottom: 20vh;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* rtl:end:ignore */
.marketing .rounded-circle {
  /*box-shadow: 0 1rem 2rem rgba(#000000, .3)*/
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 5vh;
}

.marketing-text {
  margin-bottom: 5vh;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
/*
  @media (min-width: 40em) {
    //Bump up size of carousel content 
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  }
*//*# sourceMappingURL=main.css.map */