@charset 'utf-8';

// Sass utilities
@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/placeholders";

// Vendors and external stylesheets
@import "vendors/bootstrap";
@import "vendors/jquery-ui";

// Base stuff
@import "base/typography";
@import "base/normalize";
@import "base/colors";

// Layout related stylesheets
@import "layout/grid";
@import "layout/navigation";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/forms";

// Components and modules
@import "components/carousel";
@import "components/buttons";
@import "components/cover";
@import "components/dropdown";

// Page-specific stylesheets
@import "pages/index";

// Themes
@import "themes/theme";
@import "themes/admin";
