footer {
    background-color: #3C3C3C;
    height: 30vh;
    overflow: hidden;
    width: 100%;
   //padding: 2.5vh 0vw;
    margin: auto;
    text-align: center;
    display: grid;
    place-items: center;
    @include breakpoint(large){
      height: 20vh;
    }


     /* .footer-cell{
        overflow: hidden;
        padding: 0em;
        width: 100%;
        text-align: center;
        margin: auto;
        @include breakpoint(small){
          margin: 0;
        }
        a{
          text-align: center;
          margin: auto;
          width: 100%;
        }
      h4{
        margin: auto;
        text-align: right;
        width: 100%;
        font-size:1em;
      }
    }
    */
    .footer-top{
        padding: 1vh 0;
        margin: auto;
        width: 100%;
    }
      .footer-logo{
        margin: auto;
        text-align: center;
        min-height: 10vh;
        //min-height: 8vh;
        @include breakpoint(large){
          height: 15vh;
        }
        @include breakpoint(xlarge){
          height: 20vh;
        }
        img {
            height: 10vh;
            @include breakpoint(large){
              height: 15vh;
            }
            @include breakpoint(xlarge){
              height: 20vh;
            }
        }
  
      }
      .footer-nav{
        margin: auto;
        text-align: center;
        .footer-link{
            text-decoration: none;
            padding-bottom: 0.5vw;
            color: #fff;
            display: block;
            &:hover {
                color: $brand-orange;
            }
        }
      }
      .footer-copyright{
        margin: auto;
        p{
            color: #ffffff;
        }
      }
    }