.content{
    margin-top: 15vh;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
@mixin breakpoint($point) {
  @if $point == xxlarge {
    @media (min-width: 1400px) { @content ; }
 }
 @else if $point == xlarge {
  @media (min-width: 1200px) { @content ; }
}
  @else if $point == large {
    @media (min-width: 992px) { @content ; }
 }
   @else if $point == medium {
    @media (min-width: 768px) { @content ; }
 }
  @else if $point == small {
    @media (min-width: 576px) { @content ; }
 }
 @else if $point == xsmall {
    @media (min-width: 0px)  { @content ; }

 }
}
/*@include breakpoint(small){
    padding: 5vh;
  }*/