.navbar{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: relative;
//max-height: 20vh;
z-index: 100;
background-color: #ffffff;
padding-top: 2.5vh;
padding-bottom: 2.5vh;
-webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3);
box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3);
/*@include breakpoint(medium){
    height: 12vh;
}*/
.navbar-collapse{
    text-align: left;
}
.navbar-brand{
    margin-right: 2em;
    margin-left: 1em;
    width: 30vw;
    @include breakpoint(medium){
        width: 20vw;
      }
    @include breakpoint(large){
        width: 12vw;
      }
    .navbar-logo{
        left: 0;
        top: 0;
        width: 100%;
    }
}
.navbar-nav{
.nav-link{
    @include breakpoint(large){
        margin-right: 2vw;
      }
      @include breakpoint(xlarge){
        margin-right: 2.5vw;
      }
    font-size: 1.25em;
    &:hover{
        color: $brand-orange;
    }
}
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: $brand-orange;
}
.nav-search{
        position:absolute;
        right: 5%;
    .btn{
        color: #000000;
        border-color: $brand-orange;
        &:hover{
            background-color: $brand-orange;
            color: #ffffff;
        }
    }
}
}
