.content{
  background-color: #f2f2f2;
}
.intro-hero {
  position: relative;
  overflow: hidden;
  padding: 0;
  max-height: 70vh;
.hero-img-container{
  width: 100%;
  padding: 0;
  margin: auto;
.hero-img{
  width: 100%;
  height: auto;
}
}
$gradient-from: #000000; /* Black */
$gradient-to: rgba(#333333, 0.25); /* Dark grey with 0.5 opacity */


.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, $gradient-from, $gradient-to);
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.01);
  display: flex;
  justify-content: center;
  align-items: center;
  .hero-content{
    padding-left: 10%;
    margin: auto;
    width: 100%;
    h2{
      font-size: 2em;
      margin-bottom: 2vh;
      font: $big-font;
      font-weight: 700;
      @include breakpoint(medium){
        margin-bottom: 5vh;
        font-size: 3em;
      }
    }
    p{
      font-size: 1em;
      margin-bottom: 2vh;
      @include breakpoint(medium){
        margin-bottom: 5vh;
        font-size: 1.5em;
      }
    }
    .btn{
      font-size: 1em;
      background-color: $brand-orange;
      border-color: $brand-orange;
      &:hover{
        background-color: $hover-red;
        border-color: $hover-red;
      }
      @include breakpoint(medium){
        font-size: 1.25em;
      }
    }
 
  }
}
}

.intro-callout-section{
  padding: 10vh 5vw;
  .intro-callout-heading{
    h3{
      font: $big-font;
      font-size: 3.5em;
      b{
        color: $brand-orange;
        font-weight: 400;
      }
    }
  }
  .intro-callout-body{
    h4{
      font-size: 2em;
    }
    p{
      line-height: 2em;
    }
  }
}


.our-mission-section{
  background-color: $brand-orange;
  height: auto;
  min-height: 60vh;
  padding: 10vh 5vw;
  margin-bottom: 10vh;
.our-mission-float{
  background-color: #ffffff;
  padding: 5vh 5vw;
  width: 100%;
  @include breakpoint (medium){
    width: auto;
    display: grid;
    place-items: right;
  }
  @include breakpoint (large){
    width: auto;
  }
  h3{
    font: $big-font;
    font-weight: 700;
    font-size: 3em;
  }
  .learn-more{
    background-color: $brand-orange;
    border-color: $brand-orange;
    &:hover{
      background-color: $hover-red;
      border-color: $hover-red;
    }
  }
}
}


.get-started{
  margin-bottom: 10vh;
.get-started-head{
  margin: auto;
  text-align: center;
  width: 100%;
  margin-bottom: 10vh;
  h3{
    font: $big-font;
    font-weight: 700;
    font-size: 3em;
    color: #000000;
  }
}
.get-started-body{
  padding: 0 5vw;
  margin: auto;
  width: 100%;
.get-started-quad {
  margin-bottom: 1.5rem;
  text-align: left;
  @include breakpoint (xsmall){
    text-align: center;
  }
  @include breakpoint (medium){
    text-align: left;
  }
p{
  margin-bottom: 5vh;
}
.rounded-square{
  height: 140px;
  width: 140px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.4);
  margin-bottom: 5vh;
  background-color: #333333;
}
}
}
}


.contact-callout-section{
  background-color: #333333;
  width: 100%;
  height: auto;
  padding: 10vh 0;
  margin-bottom: 10vh;
.cover-container {
margin: auto;
max-width: 42em;
h3{
  font: $big-font;
  font-weight: 700;
  font-size: 3em;
  color: #ffffff;
}
p{
  font: $default-font;
  color: #ffffff;
}
}
}

.services-description{
  padding: 0vh 10vw;
  .services-desc-cell{
    display: block; 
    position: relative;
    margin-bottom: 5vh;
    a{
      text-decoration: none;
      color: #000000;
      display: block;
      width: 100%; 
      height: 100%; 
      padding: 1vh 1vw;
      &:hover{
        position: relative;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      }
    h4{
      font: $big-font;
      font-weight: 700;
      font-size: 1.5em;
    }
    p{
      line-height: 2em;
    }
    .rounded-square{
  height: 140px;
  width: 140px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.4);
  margin-bottom: 5vh;
  background-color: #333333;
    }
  }
}
}

.about-callout-section{
  height: auto;
  min-height: 40vh;
  background-color: #333333;
  padding: 5vh 5vw;
  .about-callout-header{
    h3{
      font: $big-font;
      font-weight: 700;
      font-size: 3em;
      color: #ffffff;
    }
  }
  .about-callout-body{
    p{
      font: $default-font;
      color: #ffffff;
    }
   /* .callout-button{
      text-decoration: none;
      background-color:#ffffff;
      color: $brand-orange;
      width: 100%;
      padding: 2vh 2vw;
      border-radius: 10px 10px 10px 10px;
    }*/
    .learn-more{
      background-color: #fff;
      border-color: #fff;
      color: #000;
      &:hover{
        background-color: $brand-orange;
        border-color:$brand-orange;
        color: #fff;
      }
    }
      a{
        h4{
        font-size: 1.25em;
        }
      }
    }
  }



/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

$gradient-from2: #db5c35;
$gradient-to2: #ff815b;

.triple-box-section {
  padding: 4rem 0; // Adjust padding as needed
  background-image: linear-gradient(to right, $gradient-from2, $gradient-to2);
  .triple-box-header{
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 10vh;
    h3{
      text-align: center;
      font: $big-font;
      font-weight: 700;
      font-size: 2em;
      color: #ffffff;
      @include breakpoint(medium){
        font-size: 3em;
      }
    }
    }
  .box {
    background-color: #ffffff;
    padding: 2rem;
    border: 1px solid #ccc; // Adjust border style and color as needed
    border-radius: 0.5rem;
    margin-bottom: 5vh;

    .box-heading {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .box-divider {
      border-top: 1px solid #ccc;
      margin: 1rem 0;
    }

    .box-content {
      font-size: 1rem;
    }
  }
}
.contact-us-section {
  padding: 10vh 0 10vh 0;
  h2 {
    font: $big-font;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 5vh;
  }

  form {
    .form-group {
     margin-bottom: 5vh;
    }
  }
}
