.lithium-intro-section{
  padding: 10vh 5vw;
  //background-image: linear-gradient(to right, $gradient-from2, $gradient-to2);
  background-image: url(../img/battery-recycle-background.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .lithium-intro-header{
    text-align: left;
    overflow: hidden;
    //margin-bottom: 10vh;
    h1{
      font: $big-font;
      font-weight: 700;
      font-size: 3em;
      color: #ffffff;
      margin-bottom: 5vh;
      @include breakpoint(medium){
        font-size: 4em;
      }
    }
    }
    .lithium-intro-body{
      hr{
        width: 50%;
        border-style: solid;
        border-width: 5px;
        border-color: #ffffff;
        margin-bottom: 5vh;
        opacity: 1;
      }
      p{
      font-size: 1.5em;
      color: #ffffff;
      }
    }

}
.lithium-block-section{
  padding: 10vh 15vw;
  justify-content: center;
  align-items: center;
  .lithium-block-heading{
    margin-bottom: 5vh;
    h3{
      font: $big-font;
      font-weight: 700;
      font-size: 2em;
      text-align: center;
      @include breakpoint (medium){
        font-size: 3em;
      }
    }
  }
  .lithium-block-body{
    p{
      text-align: left;
    }
  }
}

.lithium-process-section{
  padding: 10vh 10vw;
  width: 100%;
  .lithium-process-header{
    margin-bottom: 5vh;
    h3{
      font: $big-font;
      font-size: 3em;
      font-weight: 700;
    }
    hr{
      width: 20vw;
      border-width: 2px;
      border-style: solid;
      border-color: #000000;
      opacity: 1;
    }
  }
  .lithium-process-body{
    margin-bottom: 5vh;
    h4{
      font-weight: 700;
    }
    p{
      @include breakpoint (large){
      padding-right: 5vw;
      }
    }
  }
}
.lithium-two-up-section{
  padding: 0;
  .lithium-two-up-left{
    background-image: url(../img/recycle-cycle-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    overflow: hidden;
    img{
      max-height: 50vh;
    }
    @include breakpoint (large){
      display: block;
    }
  }
  .lithium-two-up-right{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10vw 10vh 10vw;
    @include breakpoint (mediunm){
      padding: 0 5vw 0 5vw;
    }
    .lithium-two-up-right-body{
      flex-direction: column;
      align-items: flex-start;
    h3{
      display: block;
      text-align: left;
      margin-bottom: 5vh;
      font-weight: 700;
    }
    p{
      display: block;
      text-align: left;
    }
  }
  }
}